#Flask
#pyspark==3.5.3
###pysqlite3-binary
#delta-spark==3.3.2
#confluent-kafka[avro]==2.10.1
#ipykernel
#ipywidgets
#ipython-sql
#pymysql
#jupysql
#duckdb-engine
#grpcio
#google-search-results
#numexpr
#text-generation
#sentence-transformers
#sentencepiece
#jinja2
#bitsandbytes
#accelerate
#typesense
#duckduckgo-search
#unstructured
#ddgs
#embedchain
#openai-agents
#docx2txt